<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />      
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Home</title>
</head>
  
<body>
  <h1>Bem-Vindo(a) a API de Produtos</h1>
  <p>API de produtos desenvolvida para projeto do ifms e pelos alunos Lucas Godoy e Jorge Leandro.</p>
</body>
</html>